<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.module.admin.cms.mapper.CmsProductTypeMapper">
    <select id="listPage" resultType="com.module.admin.cms.entity.CmsProductType">
        select * from cms_product_type t where  t.deleted=0 ORDER BY t.sort
    </select>

    <update id="del">
        update cms_product_type t set t.deleted=1 and t.id=#{id}
    </update>

    <update id="disable">
        update cms_product_type t  set locked=#{disable} and t.id=#{id}
    </update>

    <select id="showList" resultType="com.module.admin.cms.result.CmsProductTypeResult">
        SELECT * from cms_product_type t where t.deleted=0 ORDER BY t.sort
    </select>
</mapper>
