<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.module.admin.cms.mapper.CmsProductMapper">
    <select id="listPage" resultType="com.module.admin.cms.result.CmsProductResult">
        SELECT
            p.*, t.`name` AS type_name
        FROM
            cms_product_type t
        JOIN cms_product p ON p.type_id = t.id
        WHERE p.show_type &lt;&gt;1
        and p.name like CONCAT('%',#{keyWord},'%')
        ORDER BY
            p.sort
    </select>

    <select id="listHotPage" resultType="com.module.admin.cms.result.CmsProductResult">
        SELECT
            p.*
        FROM
            cms_product p
        WHERE p.show_type=1
        and p.name like CONCAT('%',#{keyWord},'%')
        ORDER BY
            p.sort
    </select>


    <update id="disable">
        update cms_product set locked=#{disable} where id=#{id}
    </update>

    <select id="hotProduct" resultType="com.module.admin.cms.entity.CmsProduct">
        select * from cms_product p
        where p.deleted=0
        and p.locked=0
        and show_type=1
        ORDER BY p.sort LIMIT 1
    </select>

    <select id="searchKeyWord" resultType="com.module.admin.cms.result.CmsProductResult">
        SELECT  * FROM  cms_product cp WHERE
        cp.name like #{keyWord} or cp.desc_title like #{keyWord} or cp.desc_desc like #{keyWord}
        ORDER BY  cp.sort
    </select>

</mapper>
