<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.module.admin.app.mapper.AppProductMapper">
    <select id="listOfShelf" resultType="com.module.admin.app.result.AppProductResult">
        SELECT
            p.*,
            (
                SELECT
                    MIN(sku.fixed_price)
                FROM
                    app_product_sku sku
                WHERE
                    sku.product_id = p.id
                and sku.deleted=0
                and sku.locked=0
            ) as productPrice
            ,
            (
                SELECT
                        count(1)
                FROM
                        app_product_sku sku
                WHERE
                        sku.product_id = p.id
                and sku.reserve=0
                and sku.deleted=0
                and sku.locked=0
            ) as skuZeroReserve
        FROM
            app_product p
        WHERE
            p.`status` = #{status}
        AND p.`name` like CONCAT(#{keyWord},'%')
    </select>

    <select id="listOfBuyStatus" resultType="com.module.admin.app.result.AppProductResult">
        SELECT
            p.*,
            (
                SELECT
                    MIN(sku.reserve)
                FROM
                    app_product_sku sku
                WHERE
                    sku.product_id = p.id
                and sku.deleted=0
                and sku.locked=0
            ) as productPrice,
            (
                SELECT
                        count(1)
                FROM
                        app_product_sku sku
                WHERE
                        sku.product_id = p.id
                and sku.reserve=0
                and sku.deleted=0
                and sku.locked=0
            ) as skuZeroReserve
        FROM
            app_product p
        WHERE
            #{reserve} > (
                SELECT
                    MIN(sku.reserve)
                FROM
                    app_product_sku sku
                WHERE
                    sku.product_id = p.id
                and sku.deleted=0
                and sku.locked=0
            )
    </select>

    <select id="countOfBuyStatus" resultType="int">
        SELECT
        COUNT(1) AS result
        FROM
        (
        SELECT
        1 AS num
        FROM
        app_product_sku sku
        WHERE
        sku.reserve &lt;#{reserve}
        GROUP BY
        sku.product_id
        ) AS skuCount
    </select>

    <select id="callProductNum" statementType="CALLABLE" resultType="String">
        {call generator(#{id,mode=IN})}
    </select>

    <update id="updateShelfAndObtained">
        update app_product p set p.`status`=#{status} where p.id=#{productId}
    </update>

    <select id="likeSearchProduct" resultType="com.module.admin.app.entity.AppProduct">
       SELECT
            *
        FROM
            app_product p
        WHERE
        1=1
        <if test="_parameter != null and _parameter != ''">
           AND(
             p.`name` LIKE CONCAT(#{ keyWord }, '%')
            OR p.num LIKE CONCAT(#{ keyWord }, '%')
            )
        </if>
        LIMIT 5
    </select>

    <insert id="insertAppProductAdditionOne" parameterType="com.module.admin.app.entity.AppProductAdditionOne">
        insert into app_product_addition_one VALUES (#{productId},#{pv},1)
    </insert>
</mapper>
