<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.module.api.app.mapper.AppExpressAddressMapper">
    <select id="listAddress" resultType="com.module.api.app.dto.AddressDto">
        SELECT
            a.id as addressId,
            a.receipt_user_name,
            a.receipt_user_mobile,
            a.province_name,
            a.province_code,
            a.city_name,
            a.city_code,
            a.zone_name,
            a.zone_code,
            a.detail,
            a.addr_default
        FROM
            app_express_address a
        WHERE
            a.deleted = 0
        AND a.user_id = #{userId}
        ORDER BY a.create_time
    </select>

    <update id="logicDel">
        UPDATE app_express_address a
        SET a.deleted = 1
        WHERE
            a.user_id = #{userId}
        AND a.id = #{addrId}
        AND a.deleted = 0
    </update>

    <update id="defaultAddress">
        UPDATE app_express_address a
        SET a.addr_default = 1
        WHERE
            a.user_id = #{userId}
        AND a.id = #{addrId}
    </update>
    <update id="restoreDefaultAddress">
        UPDATE app_express_address a
        SET a.addr_default = 0
        WHERE
            a.user_id = #{userId}
        AND a.addr_default=1
        AND a.id &lt;> #{addrId}
    </update>
</mapper>
