<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.module.api.app.mapper.AppOrderMapper">
    <update id="cancelOrder">
        update  app_order o set o.`status`=5,o.version=o.version+1 where o.`status`=0
    </update>

    <select id="countOrderById" resultType="int">
        select count(1) from app_order where product_id=#{productId} AND status=2
    </select>

    <select id="callOrderNum" statementType="CALLABLE" resultType="String">
        {call generator(2)}
    </select>
</mapper>