<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.module.api.app.mapper.ShopProductMapper">
   <select id="showPretermitDESC" resultType="com.module.api.app.result.AppProductResult">
       select product_id,name product_name,main_img,pv
       from app_product app_pro
       right join
       app_product_addition_one app_pro_add on app_pro.id=app_pro_add.product_id
       where app_pro.status =0
       ORDER BY app_pro_add.pv desc
   </select>

    <select id="showPrice" resultType="com.module.api.app.result.AppProductResult">
        select *  from  (
SELECT
	a.id product_id,
	NAME product_name,
	main_img,
	min( b.marked_price ) marked_price
FROM
	app_product a
	LEFT JOIN app_product_sku b ON a.id = b.product_id
WHERE
	a.STATUS = 0
	AND locked = 0
GROUP BY
	a.id
) as result
ORDER BY
	result.marked_price
   </select>
    <select id="showPriceDESC" resultType="com.module.api.app.result.AppProductResult">
        select *  from  (
SELECT
	a.id product_id,
	NAME product_name,
	main_img,
	min( b.marked_price ) marked_price
FROM
	app_product a
	LEFT JOIN app_product_sku b ON a.id = b.product_id
WHERE
	a.STATUS = 0
	AND locked = 0
GROUP BY
	a.id
) as result
ORDER BY
	result.marked_price
				DESC
   </select>
    <select id="showPurchasesDESC" resultType="com.module.api.app.result.AppProductResult">
        SELECT
	a.id product_id, name product_name,main_img,num product_num,
	(select count(1) mm from app_order o where o.product_id=a.id and o.status=2) as purchases
FROM
	app_product a
WHERE
	1=1
	and a.status = 0
ORDER BY
	purchases desc
    </select>
    <select id="showPurchases" resultType="com.module.api.app.result.AppProductResult">
        SELECT
	a.id product_id, name product_name,main_img,num product_num,
	(select count(1) mm from app_order o where o.product_id=a.id and o.status=2) as purchases
FROM
	app_product a
WHERE
	1=1
	and a.status = 0
ORDER BY
	purchases asc
    </select>
</mapper>