<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.module.api.app.mapper.UserMapper">
    <select id="getUserByCellPhone" resultType="com.module.api.app.entity.AppUser">
        select * from app_user u where u.deleted=0 and u.cell_phone_num=#{phone}
    </select>

</mapper>
