<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.module.admin.back.mapper.BackMenuMapper">
    <select id="findRoleMenus" resultType="com.module.admin.back.entity.BackMenu">
        SELECT
        m.*
        FROM
        back_role r
        JOIN back_role_menu rm ON rm.role_id = r.id
        JOIN back_menu m ON m.id = rm.menu_id
        WHERE r.code=#{code}
        AND m.deleted = 0
        <choose>
            <when test="depth==1">
                AND m.depth=1
            </when>
            <otherwise>
                AND m.depth&lt;&gt;1
            </otherwise>
        </choose>

    </select>


</mapper>
